body{
    background-color: rgb(234, 234, 234);
}
.face{ 
    justify-content: center;
    font-size: 30px;
    
    
   
}
#connect{
    font-style:normal;
    letter-spacing:1px;
    padding-top: 0;
    margin-top: -55px;
}
#facebook{
    color:#1877F2;
    font-weight: bold;
    font-size:65px;
    
}
.section{
    display: flex;
    justify-content: space-between;
    margin:150px 150px;
    padding:-50%;
    position: relative;
  
}
.bloc{
    justify-content: end;
    box-sizing:content-box;
    width:45%;
    background-color: white;
    box-shadow: 0 0 1em rgb(251, 250, 249);
    border-radius: 3%;
    padding:2%;
    font-size: 25px;
    margin-right:-75px;
    margin-top:-7%;
    
}
#password{
    color:#1877F2;
    
}
.center{
   text-align: center;
}
#login{
    background-color:#1877F2;
    color: aliceblue;
    padding-left:42%;
    padding-right:50%;
    padding-top:0%;
    padding-bottom: 0%;
    border-radius: 0.5em;
    margin-top: 5%;
    font-size:160px;
    border:none;
    font-style: normal;
}
.new{
    background-color:#1877F2;
    color: aliceblue;
    padding-left:10%;
    padding-right:10%;
    padding-top: 3%;
    padding-bottom: 3%;
    border-radius: 0.5em;
    font-size: 15px;
    font-weight: bold;
    border:none;

}
.new:hover{
    background-color: rgb(20, 168, 30);
}
    a{
        text-decoration:none;
        color: aliceblue;
    }

.in{
    font-weight: bold;
    font-size:14px;
}
.name{
    width: 98%;
    padding-top: 5%;
    padding-bottom:5%;
    border-radius:0.5em;
    border:solid 1px #1877F2;
    font-size:15px;
   
    
}
#create{
float: right;
margin-right: 220px;
margin-top: -130px;
margin-left: -30px;

}
    
   
    
    

   

